<h1><%= @day_kondate.day_datum.date %> の<%= @day_kondate.period_i18n %></h1>

<div class="d-flex justify-content-center mt-5">
  <table class="table w-75">
    <thead>
      <tr>
        <th scope="col">kcal</th>
        <th scope="col">炭水化物</th>
        <th scope="col">タンパク質</th>
        <th scope="col">脂質</th>
      </tr>
    </thead>
    <tbody>
      <% if @day_kondate.kondate %>
        <% @day_kondate.kondate.recipes.each do |recipe| %>
          <tr>
            <th scope="row"><%= recipe.name %></th>
            <td><%= recipe.calculate_total(:kcal) %> kcal</td>
            <td><%= recipe.calculate_total(:carbohydrate) %> g</td>
            <td><%= recipe.calculate_total(:protein) %> g</td>
            <td><%= recipe.calculate_total(:fat) %> g</td>
          </tr>
        <% end %>
      <% else %>
        <td colspan="4" class="text-muted text-center">未登録</td>
      <% end %>
    </tbody>
  </table>
</div>

<div class="container">
  <div class="row">
    <div class="col">
      <h2>あなたにオススメの献立一覧</h2>
      <div class="d-flex justify-content-center mt-5">
        <div>
          <% @kondates.each do |kondate| %>
              <%= render 'kondates/kondate_card', { kondate: kondate }%>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col">
      <h2>あなたにオススメのレシピ一覧</h2>
      <div class="d-flex justify-content-center mt-5">
        <div>
          <% @recipes.each do |recipe| %>
              <%= render 'recipes/recipe_card', { recipe: recipe }%>
          <% end %>
        </div>
      </div>
      <div>
      </div>
    </div>
  </div>
</div>

<%= link_to "追加", new_home_path, class: "btn btn-primary" %>